{% extends 'main.html' %}
{% block content %}


<div class="container relative" style="background-image: url(/static/images/assets/background.jpg)" data="{{username}}">

    <div class="header relative">
        <div class="back-button">
            <img src="/static/images/assets/arrow.svg">
        </div>

        <div class="header-text">Create Pet Profile</div>
    </div>

    <div class="image-upload-container relative" onclick="document.getElementById('upload-image-js').click()">
        <div>Photo</div>
        <img id='photo-container-js' class="hidden" src="">
        <input id="upload-image-js" type="file" name="image" accept="image/*" style="display: none">
    </div>

    <div class="text-inputs-container">
        <div class="text-input-container">
            <div class="text-input-name">Name</div>
            <input id="name-input-js" class="text-input-field" type="text" onkeyup="checkData()">
        </div>
        <div class="text-input-container">
            <div class="text-input-name">Breed</div>
            <div class="text-input-predict-container">
                <input id="breed-input-js" class="text-input-field-predict" type="text" onkeyup="checkData()">
                <div id='predict-breed-button-js' class="predict-button hidden">Predict</div>
                <div id='loader-breed-js' class="loader hidden"></div>
            </div>
        </div>
        <div class="text-input-container">
            <div class="text-input-name">Coat Color</div>
            <div class="text-input-predict-container">
                <input id="coat-color-input-js" class="text-input-field-predict" type="text" onkeyup="checkData()">
                <div id='predict-coat-color-button-js' class="predict-button hidden">Predict</div>
                <div id='loader-coat-color-js' class="loader hidden"></div>
            </div>
        </div>
        <div class="text-input-container">
            <div class="text-input-name">Gender</div>
            <select id="gender-select-js" onchange="checkData()" required>
                <option value="" disabled selected hidden></option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <div class="text-input-container">
            <div class="text-input-name">Birthday</div>
            <input id="birthday-input-js" class="text-input-field" type="date" onchange="checkData()">
        </div>

    </div>

    <div class="footer">
        <button id='create-button-js' class="primary-button full-width-button disabled">Create</button>
    </div>


</div>

<script src="/static/js/create-pet-profile.js"></script>


{% endblock content %}