{% extends 'main.html' %}
{% block content %}


<div class="container container-sign-in-up" style="background-image: url(/static/images/assets/login-signup.jpg)">
    <div id="back-button-js" class="back-button back-button-sign-in hidden">
        <img src="/static/images/assets/arrow.svg">
    </div>

    <div class="error-message-container hidden">Incorrect username/password</div>

    <div id='sign-in-up-container-js' class="sign-in-up-container">
        <button id='sign-in-button-js' class="primary-button">Sign In</button>
        <a href="/sign-up">
            <button class="primary-button">Sign Up</button>
        </a>
    </div>

    <div id='sign-in-container-js' class="sign-in-container hidden">
        <div class="text-inputs-container">
            <div class="text-input-container">
                <div class="text-input-name">Username</div>
                <input id='username-input-js' class="text-input-field" type="text">
            </div>
            <div class="text-input-container">
                <div class="text-input-name">Password</div>
                <input id='password-input-js' class="text-input-field" type="password">
            </div>
        </div>

        <button id="sign-in-button-two-js" class="primary-button full-width-button">Sign In</button>
    </div>
</div>

<script src="/static/js/sign-in-up.js"></script>


{% endblock content %}