/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap"); */

@font-face {
  font-family: "Poppins";
  src: url("/static/ttf/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("/static/ttf/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("/static/ttf/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("/static/ttf/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("/static/ttf/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

:root {
  --background: #fafafa;

  --container-color: #fefefe;
  --container-color-hover: #f4f4f4;

  --primary-color: #f75e39;
  --primary-text-color: #141414;
  --secondary-text-color: #5f5f5f;

  --border-color: #d0d0d0;
  /* --border-color: rgba(255, 255, 255, 0.3); */
  --image-upload-containers-gap: 60px;
  --image-upload-container-size: 150px;

  --input-height: 38px;
  --input-min-width: 100px;

  --font-size-small: 12px;
  --font-size-regular: 14px;
  --font-size-large: 16px;

  --border-radius: 8px;

  --page-gutter-left-right: 60px;
  --page-gutter-top: 30px;
  --page-gutter-bottom: 30px;

  --container-gutter-left-right: 40px;
  --container-gutter-top: 0px;
  --container-gutter-bottom: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

::-webkit-scrollbar-track {
  /* box-shadow: rgb(238 234 244) 0px 0px 5px inset; */
  box-shadow: 0px 0px 5px inset rgba(239, 182, 135, 0.3);
  border-radius: 10px;
}

body {
  background-color: var(--background);
  overflow-x: hidden;
}

/* Navbar */
.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-color);

  border-bottom: var(--border-color) 1px solid;

  margin-bottom: 40px;
}

.navbar>img {
  height: 24px;
  width: auto;
}


/* Container */
.container {
  width: 100%;
}


/* Dog Upload Containers */
.dog-upload-containers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}


/* Dog Upload Container */
.dog-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 380px;
  max-width: 380px;
  height: max-content;

  padding: 20px 20px;

  background-color: var(--container-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

}

/* Glassmorphism Element */
.glassmorphism-element {
  max-width: 200px;
  height: auto;
  z-index: -5;

  position: absolute;
  top: 0px;
  left: -20px;
}

.glassmorphism-element>img {
  max-width: 200px;
  height: auto;
}

/* Image Upload Divider Container */
.image-upload-divider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Image Upload Container */
.image-upload-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--image-upload-container-size);
  min-width: var(--image-upload-container-size);
  height: var(--image-upload-container-size);
  min-height: var(--image-upload-container-size);
  border-radius: 50%;

  background-color: transparent;
  box-shadow: 0 0 0 1px var(--border-color);

  cursor: pointer;

  transition: background-color 0.2s ease-out;

  overflow: hidden;
}

.image-upload-container:hover {
  background-color: var(--container-color-hover);
}

.image-placeholder {
  width: 50px;
  height: auto;
}

.image-upload {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Image Upload Loader */
.image-upload-loader {
  border: 4px solid transparent;
  border-top: 4px solid var(--primary-color);
  -webkit-animation: spin 0.75s linear infinite;
  animation: spin 0.75s linear infinite;

  width: calc(var(--image-upload-container-size) + 2px);
  min-width: calc(var(--image-upload-container-size) + 2px);
  height: calc(var(--image-upload-container-size) + 2px);
  min-height: calc(var(--image-upload-container-size) + 2px);
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.5);

  position: absolute;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* Input Container */
.input-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.input-label {
  width: 50px;
  font-family: "Poppins", sans-serif;
  font-size: var(--font-size-small);
  font-weight: 600;
  color: var(--secondary-text-color);

  white-space: nowrap;

  padding-right: 30px;
}

/* Select Container */
/* .select-container {
  width: 100%;
  min-width: var(--input-min-width);
  height: var(--input-height);
  border-radius: var(--border-radius);
  background-color: var(--container-color-hover);

  
} */

/* Select */
select {
  appearance: none;
  width: 100%;
  min-width: var(--input-min-width);
  height: var(--input-height);
  border: none;
  outline: none;
  border-radius: var(--border-radius);
  background-color: transparent;

  font-family: "Poppins", sans-serif;
  font-size: var(--font-size-regular);
  font-weight: 600;
  color: var(--primary-text-color);

  cursor: pointer;

  text-align: center;

  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 40px;

  background-image: url("/static/images/assets/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 13px;
  /* background-origin: content-box; */

  transition: background-color 0.2s ease-out;
}

select:hover {
  background-color: var(--container-color-hover);
  /* color: var(--primary-text-color); */
}

option {
  font-family: "Poppins", sans-serif;
  font-size: var(--font-size-small);
  font-weight: 500;
  color: var(--text-primary);
  background-color: var(--background);
}

/* Text Input */
input[type="text"] {
  width: 100%;
  min-width: var(--input-min-width);
  height: var(--input-height);

  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: var(--font-size-regular);
  color: var(--primary-text-color);

  background-color: transparent;
  outline: none;
  border: none;
  border-radius: var(--border-radius);

  text-align: center;

  padding-left: 20px;
  padding-right: 20px;

  cursor: pointer;

  transition: background-color 0.2s ease-out;
}

input[type="text"]:hover {
  background-color: var(--container-color-hover);
}

.input-loader {
  pointer-events: none;
  background-color: var(--container-color-hover) !important;
  opacity: 1;

  -webkit-animation: pulse 0.5s alternate infinite;
  animation: pulse 0.5s alternate infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Divider */
.divider {

  width: 100%;
  border-top: 1px solid var(--border-color);

  margin-top: 20px;
  margin-bottom: 20px;
}

/* Error Message */
.error-message {
  font-family: 'Poppins', sans-serif;
  font-size: var(--font-size-small);
  color: #e43b3b;
  font-weight: 600;
}

/* Offsprings Container */
.offsprings-container {
  width: 100%;
  max-width: 860px;
  height: max-content;

  padding: 20px 20px;

  display: flex;

  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  background-color: var(--container-color);

  margin: 0 auto;
  margin-top: 40px;

  overflow-x: scroll;

}

.offsprings-container::-webkit-scrollbar {
  display: none;
}

.offspring-image-container {
  width: 240px;
  min-width: 240px;
  height: 180px;
  border-radius: var(--border-radius);

  margin-right: 20px;

  opacity: 0.75;
  overflow: hidden;

  cursor: pointer;

  transition: opacity 0.2s ease-out;
}

.offspring-image-container:last-child {
  margin-right: 0;
}

.offspring-image-container:hover {
  opacity: 1;
}

.offspring-image-container>img {
  width: 240px;
  height: 180px;
  object-fit: cover;
}

.no-offsprings-message {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: var(--font-size-small);
  color: var(--secondary-text-color);
  margin: 0 auto;
}

/* Heart Container */
.heart-container {
  margin: 0 20px;
}


/* Modal Offspring */
.modal-offspring-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.60);
}

.modal-offspring-content {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow-x: hidden;
}

.modal-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40%;
  min-width: 360px;
  height: 460px;

  padding: 20px 20px;

  background-color: var(--container-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  overflow: hidden;
}

.modal-image-container>img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}



/* Modal Gallery Camera Options */
.modal-gallery-camera-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.60);
}

.modal-gallery-camera-content {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow-x: hidden;
}

.modal-options-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 300px;
  max-width: 300px;

  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  overflow: hidden;
}

.modal-options-container>div {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50px;

  background-color: var(--container-color);
  border-bottom: 1px solid var(--border-color);

  font-family: 'Poppins', sans-serif;
  font-size: var(--font-size-regular);
  font-weight: 600;
  color: var(--primary-text-color);

  cursor: pointer;

  transition: background-color 0.2s ease-out;
}

.modal-options-container>div:hover {
  background-color: var(--container-color-hover);
}

.modal-options-container>div:last-child {
  border-bottom: none;
}


/* Utilities */
.hidden {
  display: none;
}

a {
  text-decoration: none;
}

.container-gutter {
  padding-left: var(--container-gutter-left-right);
  padding-right: var(--container-gutter-left-right);
  padding-top: var(--container-gutter-top);
  padding-bottom: var(--container-gutter-bottom);
}

.input-disabled {
  pointer-events: none;
}

.opaque {
  opacity: 0;
}

/* Media Screens */
@media screen and (max-width: 640px) {
  :root {
    --font-size-small: 10px;
    --font-size-regular: 12px;
    --font-size-large: 14px;

    --image-upload-container-size: 125px;

    --input-height: 30px;

    --container-gutter-left-right: 0px;
    --container-gutter-top: 0px;
    --container-gutter-bottom: 20px;
  }

  .navbar {
    margin-bottom: 0px;
  }

  .dog-upload-containers {
    flex-direction: column;
  }

  .dog-upload-container {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    max-width: none;

    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
  }

  .dog-upload-container:last-child {
    border-top: 1px solid var(--border-color);
  }

  .image-upload-divider-container {
    flex-direction: row;
    align-items: center;
    width: auto;
  }

  .divider {
    height: 200px;
    width: 1px;
    border-top: none;
    border-left: 1px solid var(--border-color);

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .input-containers {
    flex: 1;
  }

  select {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 30px;

    background-position: right 10px center;
    background-size: 10px;
  }

  .input-label {
    width: 40px;
  }

  .heart-container {
    margin: 10px 0;
    width: 45px;
    height: 45px;
  }

  .heart-container>img {
    width: 45px;
    height: 45px;
  }

  .offsprings-container {
    border-left: none;
    border-right: none;
    border-radius: 0px;

    margin-top: 20px;
  }

  .offspring-image-container {
    width: 200px;
    min-width: 200px;
    height: 140px;
  }

  .offspring-image-container>img {
    width: 200px;
    height: 140px;
    object-fit: cover;
  }


  /* Modal */
  .modal-image-container {
    padding: 10px 10px;
    height: 300px;
  }

}